[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
whoosh = "*"
tqdm = "*"
transformers = "*"
torch = "*"
spacy = "*"
pandas = "*"
pyarrow = "*"
flair = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.6"
